<!DOCTYPE html>

<html>

<head>

<title>

Upload Test Dataset

</title>

<link rel="stylesheet"

href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

</head>

<body class="bg-light">

<div class="container mt-5">

<div class="card shadow">

<div class="card-header bg-primary text-white">

<h2 align="center">

Upload Test Dataset

</h2>

</div>

<div class="card-body">

<input

type="file"

name="test_folder"

webkitdirectory

directory

multiple

class="form-control"

>

<br>

<center>

<button

class="btn btn-primary">

Upload Dataset

</button>

</center>

<br>

<center>

<a href="/admin_dashboard">

<button

class="btn btn-dark">

Back

</button>

</a>

</center>

</div>

</div>

</div>

</body>

</html>